@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

:root {
  /* colours */
  --toolbar-dark: rgb(42, 41, 51);
  --paper: rgb(241, 240, 240);
  --green: rgb(28, 141, 28);
  --blue: rgb(67, 83, 152);
  --red: rgb(199, 22, 54);
  --blue-grey: rgb(86, 84, 116);
  --box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.374);
  --transparent-dark: rgba(255, 255, 255, 0.5);
  --transparent-darker: rgba(0, 0, 0, 0.547);
}
  
html {
  height: 100vh;
  scrollbar-width: none;  /* Firefox */
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-size: medium;
  margin: 0px;
  border: 0px;
}
  
h1, h2, h3, p {
  color: var(--paper);
  padding: 0;
  margin: 0;
}
h1 {
  font-size: 1.5ch;
  font-weight: bold;
}

h2, label {
  font-size: 1.2ch;
  font-weight: bold;
}

em {
  font-size: 1.1ch;
  color: var(--paper);
  font-style: italic;
  line-height: 0.1ch;
}

p, textarea, input, select {
  font-size: 1.2ch;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  background-image: url('assets/bIlgewater.jpg');
  background-size: 100% auto;
  background-repeat: repeat;
  -ms-overflow-style: none;  /*IE and Edge */
}

/* body::-webkit-scrollbar {
    display: none;
}
 */

aside {
  float: right;
  min-width: 20ch;
  background-color: var(--transparent-darker);
  height: 100vh;
  color: var(--paper);
  text-align: center;
  z-index: 1;
  position: relative;
}

aside a {
  color: var(--paper);
}

header {
  color: var(--paper);
  display: flex;
  justify-content: space-between;
}

nav {
  display: flex;
  align-items: center;
  gap: 1ch;
  padding-left: 1.5ch;
}

nav p {
  font-size: 1.6ch;
}

#toolbar-button {
  float: right;
  background-color: var(--transparent-darker);
  cursor: pointer;
  color: var(--paper);
  padding: 1ch 0.5ch;
}

nav a {
  text-decoration: none;
  color: var(--paper);
}

nav a:hover {
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.423);
}

nav h1, p {
  display: inline-block;
  color: var(--paper);
}

main {
  /* text-align: center; */
  display: flex;
  padding: 1ch;
  flex-direction: column;
}

main h1 {
  background-color: grey;
}

main h1, h2, h3, p, em {
  color: black;
}

section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1ch;
}

.one-column {
  max-width: 40ch;
  min-width: 30ch;
  flex: 1 1 0px;

  max-height: fit-content;
  background-color: var(--transparent-dark);
  padding: 0.5ch;
  display: flex;
  flex-direction: column;
  gap: 0.5ch;
  /* opacity: 0.6; */
}

.column-wide {
  min-width: 30ch;
  flex: 1 1 0px;
  max-height: fit-content;
  background-color: var(--transparent-dark);
  padding: 0.5ch;
  display: flex;
  flex-direction: row;
  gap: 0.5ch;
}


.list-item {
  display: flex;
  justify-content: space-between;
  background-color: var(--paper);
  box-shadow: var(--box-shadow);
  color: black;
  padding: 0.5ch 0.5ch 0ch 0.5ch;
  border-radius: 1px;
  animation: shrink 0.05s ease-in 1 normal forwards;
}

.list-item.link, .list-item a {
  width: 100%;
}

.list-item:hover {
  animation: grow 0.08s ease-in 1 normal forwards; 
}

@keyframes grow {
  0% {
    /* transform: scale(1) translateZ(0); */
  }
  100% {
    /* transform: scale(1.005, 1.02) translateZ(0); */
    box-shadow:  1px 1px 6px rgba(0, 0, 0, 0.479);
    background-color: rgb(245, 245, 245);
  }
}

@keyframes shrink {
  0% {
    /* transform: scale(1.005, 1.02); */
    box-shadow:  1px 1px 6px rgba(0, 0, 0, 0.479);
    background-color: rgb(245, 245, 245);
  }
  100% {
    /* transform: scale(1); */
  }
}

/* Components */

button {
  border: none;
  border-radius: 1px;
  box-shadow: var(--box-shadow);
  padding: 1ch;
  cursor: pointer;
}

button:hover {
  filter: brightness(1.1);
}

.green {
  background-color: var(--green);
}



/* imported from v2 */

#details {
  flex-grow: 1;
  border-radius: 2px;
}

#details div.columns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#details article {
  margin: 1ch;
  min-width: 50ch;
}

#details article div.description {
  padding: 1ch;
}

#details .title {
  background-color: var(--paper);
}

#details article {
  max-width: 40ch;
  background-color: white;
  box-shadow: var(--box-shadow);
}

#details label, input {
  margin: 0ch;

}
#details summary {
  font-size: small;
  list-style: none;
  color: white;
  background-color: var(--blue-grey); 
  padding: 0ch 0.5ch;
  background-image: url('assets/circle-blues.png');

}

#details div.ability-box {
  text-align: center;
}

summary::-webkit-details-marker {display: none; }
#details summary::before {
  background-color: rgb(145, 145, 145);
  color: blue;
}


form {
  box-sizing: inherit;
  font-size: small;
  padding: 1ch;
}

form label {
  text-align: left;
}

input, textarea, select {
  width: 100%;
  margin-bottom: 10px;
  display: inline-block;
  background-color: ghostwhite;
  box-shadow: inset 0 1px 3px #ddd;
  padding: 5px;
  resize: none;
  box-sizing: border-box;
  min-width: 4ch;
  font-family: 'Poppins', sans-serif;
}

input[type=number] {
  text-align: center;
}

form textarea {
  height: 12ch;
}

input[type="number"] {
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
}

.flex-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  gap: 1ch;
  min-height: 2ch;
}
 .flex-row svg {
   align-self: normal;
 }

.flex-checkboxes {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 0ch;
}

.flex-checkboxes > div {
  display: flex;
}

.checkboxs label {
  min-width: 15ch;
}

.flex-checkboxes input, label {
  display: inline-block;
}

 /* The Modal (background) */
 .modal {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  /* background-color: #fefefe; */
  background: url(./assets/full-bloom.png);
  margin: 1ch auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  /* width: max-content; Could be more or less, depending on screen size */
  /* min-width: 40ch; */
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.434);
  animation: fade-in 0.2s ease-in 1 normal forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);

  }
  
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
} 

/* button {
  border: none;
  padding: 1ch;
  cursor: pointer;
} */


.blue {
  background-color: var(--blue);
  color: white;
}

.red {
  background-color: var(--red);
  color: white;
}

.green {
  background-color: var(--green);
  color: white;
}

.tooltip {
  position: relative;
  display: inline-block;
  /* border-bottom: 1px dotted black; If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: rgba(41, 10, 10, 0.8);
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border: solid 1px white;
  border-radius: 3px;
  box-shadow: 0 2px 8px rgba(41, 10, 10, 0.53);
  
  /* Position the tooltip text - see examples below! */
  width: 300px;
  padding: 1ch;
  top: 150%;
  left: 30%;
  margin-left: -60px;
  position: absolute;
  z-index: 1;
  font-size: 0.8em;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  animation: delay 1s ease-in 1 normal forwards;
}

@keyframes delay {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}