@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
html {scrollbar-width: none;  /* Firefox */}

body {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: medium;
    margin: 0px;
    border: 0px;
    background-color: rgb(235, 235, 235);
    -ms-overflow-style: none;  /* IE and Edge */
}

body::-webkit-scrollbar {
    display: none;
}



/* ----- typography --- */
/* -------------------- */
p, h1, h2, h3 {
    margin: 0;
    
}

a {
    text-decoration: none;
    color: ghostwhite;
}

p {
    font-size: 0.9rem;
}

h1 {
    font-size: 3ch;
}

h2 {
    font-size: 2.2ch;
}

h3 {
    font-size: 1.6ch;
    font-weight: normal;
}



/* ------ layout ------ */
/* -------------------- */

.navbar {
    min-height: 15vh;
    display: flex;
    align-items: center;
    color: ghostwhite;
    background-color: rgb(86, 84, 116);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top left;
    background-size: cover;
}

.navbar > div {
    max-width: 160ch;
    margin: auto;
}

.navbar a {
    text-decoration: none;
    padding: 4px;
    color: ghostwhite;
    overflow: hidden;
}

.footer-container {
    display: flex;
    min-height: 85vh;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: rgb(219, 213, 203); */
    background-image: url('assets/45degreee_fabric.png');
}

.footer {
    /* height: 10ch; */
    /* background-image: url("https://media.dnd.wizards.com/styles/news_banner_header/public/images/head-banner/04-PRODUCT-INFO_Tabletop_Hero_PHB.jpg"); */
    background-position: bottom;
    background-attachment: fixed;
    background-size: cover;
    padding: 3ch;
    font-size: small;
    color: ghostwhite;
}


main {
    /* margin: auto; */
    padding: 1ch;
    /* background-color: rgb(219, 213, 203); */
    background-image: url('assets/45degreee_fabric.png');
}

.main-header {
    max-width: 100ch;
    margin-bottom: 1ch;
}

.section {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    gap: 1ch;
}

.widget {
    flex-basis: 41ch;
    background-color: rgb(245, 245, 245);
    padding: 1ch;
    border-radius: 2px;
}

.widget .item {
    padding-bottom: 1ch;
}

.widget .description {
    padding-bottom: 1ch;
    font-size: 0.9rem;
}

/* @media (min-width: 768px) {
    .d-md-columns {
        display: inline-block;
        column-count: 3;
        -webkit-column-gap: 1ch;
        -moz-column-gap: 1ch;
        column-gap: 1ch;
        
    }
} */

.border-box {
    border: 1px solid grey;
    border-radius: 3px;
}

.flex-row {
    display: flex;
    gap: 1ch;
    align-items: center;
    
    min-height: 2ch;
}

.float-right {
    float: right;
}

/* ---- forms/input --- */
/* -------------------- */

.form {
    box-sizing: inherit;
}

form label {
    text-align: left;
}

input, textarea, select {
    width: 100%;
    margin-bottom: 10px;
    display: inline-block;
    background-color: ghostwhite;
    box-shadow: inset 0 1px 3px #ddd;
    padding: 5px;
    resize: none;
    box-sizing: border-box;
    min-width: 4ch;
}

input[type=number] {
    text-align: center;
  }

form textarea {
    height: 12ch;
}

input[type="number"] {
    -webkit-appearance: textfield;
       -moz-appearance: textfield;
            appearance: textfield;
  }
  input[type=number]::-webkit-inner-spin-button, 
  input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
  }

.horizontal > div{
    display: block;
}

/* ---- components ---- */
/* -------------------- */

.link-button {
    border: 0px;
    display: inline-block;
    width: 100%;
    cursor: pointer;

}
.btn {
    cursor: pointer;
    padding: 5px;
    border-radius: 8px;
}

.green {
    background-color: darkgreen;
    color: ghostwhite;
}

.red {
    background-color: rgb(175, 29, 29);
    color: ghostwhite;
}

.blue {
    background-color: rgb(52, 52, 151);
    color: ghostwhite;
}


.item-list {
    /* padding: 4px; */
    border: black;
    flex-basis: 60ch;
    flex-grow: 1;
    max-width: 90ch;
    margin: 10px 0px;
}

.item-block {
    margin-bottom: 5px;
    padding: 8px;
    border: 1px solid black;
    border-radius: 3px;
}

.item-compact {
    margin-bottom: 5px;
    padding: 3px;
    border: 1px solid black;
    border-radius: 3px;
}

.item-preview h3 {
    margin-bottom: 1ch;
    margin-top: 0ch;
}

.item-preview a {
    color: ghostwhite;
    background: rgb(22, 22, 22);
    text-decoration: none;
    padding: 6px 10px;
    margin-right: 5px;
    border: 1 solid black;
    border-radius: 5px;;
}

.dice-roller {
    margin-top: 10px;
}

.dice-roller .flexbox .text {
    padding: 0.5ch 1ch;
}
.dice-results {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    margin-top: px;
}

.dice {
    width: 5ch;
    height: 5ch;
    text-align: center;
    vertical-align: middle;
    background: black;
    color: ghostwhite;
    /* margin: 3px; */
    border: 1px solid black;
    border-radius: 5px;
}

.dice p {
    font-weight: bold;
    padding-top: 1.2ch;
}

.dice-roller .total {
    flex-grow: 1;
    width: 100%;
    text-align: center;
    background-color: white;
    padding: 10px 10px;
    margin: 10px 0px;
    
}
